<a href="https://colab.research.google.com/github/bjdzliu/ai_lab/blob/main/langchain/agent_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import userdata
apikey=userdata.get('OPENAI_API_KEY')

mysqlpw=userdata.get('mysqlpw')

In [ ]:
!pip3 install openai langchain langchain_openai

In [7]:
!pip3 install --quiet mysql

In [ ]:
!pip3 install --upgrade --quiet  langchain langchain-community langchain-experimental

In [ ]:
from langchain.sql_database import SQLDatabase

db_user = "root"
db_password = mysqlpw
db_host = "47.92.245.59"
db_name = "classicmodels"
db = SQLDatabase.from_uri(f"mysql://{db_user}:{db_password}@{db_host}/{db_name}")

In [15]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

In [21]:
llm = ChatOpenAI(openai_api_key=apikey,model="gpt-3.5-turbo", temperature=0)
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [22]:
agent_executor.invoke("how many customers we have")

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


customers, employees, offices, orderdetails, orders, payments, productlines, products
Invoking: `sql_db_schema` with `{'table_names': 'customers'}`



CREATE TABLE customers (
	`customerNumber` INTEGER(11) NOT NULL DEFAULT '0',
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER(11),
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/
Invoking: `sql_db_query` with `{'query': 'SELECT COUNT(*) FROM customers'}`


[(122,)]We have a total of 122 customers.

> Finished chain.

{'input': 'how many customers we have',
 'output': 'We have a total of 122 customers.'}